<h1>Incubyte - Dhruv Technical Assessment - String Calculator</h1>

<%= form_with url: calculators_path, method: :post, local: true, data: { turbo: false } do |form| %>
  <div>
    <%= form.label :numbers, "string:" %>
    <%= form.text_area :numbers, value: @numbers %>
    <%= form.submit "SUm" %>

  </div>
<% end %>

<% if @error %>
    <h2 style="color: red;">Error: <%= @error %></h2>
<% else %>
  <h2>Submitted String: <%= @numbers %></h2>
  <h2>Sum: <%= @result %></h2>
<% end %>